Week3/venv
Week4/venv
Week5/venv
Week5/instance
Week6/instance
ScreenCast/06-experiment-flask-sqlalchemy/.experiment-flask-sqlalchemy-env
ScreenCast/06-experiment-flask-sqlalchemy/.experiment-flask-sqlalchemy-env
*__pycache__*