#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

body {
    background-color: #fdfdbb;
}

a {
    color: red;
    text-decoration-line: none;
}

span {
    color: blue;
}

div{
    margin: 20px;
}