<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
    <h1 style="text-align:left;float:left;">Courses List</h1> 
    <h1 style="text-align:right;float:right;"><a href="/">Go to Students</a></h1> 
    <hr style="clear:both;"/>
    {% if courses | length == 0 %}
    <p>No Courses found. Add Courses Now!</p>
    {% else %}
    <table id="all-courses">
        <tr>
            <th>SNo</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Course Description</th>
            <th>Actions</th>
        </tr>
        {% for course in courses %}
        <tr>
            <th>{{ loop.index }}</th>
            <th><a href="/course/{{ course.course_id }}">{{ course.course_code }}</a></th>
            <th>{{ course.course_name }}</th>
            <th>{{ course.course_description }}</th>
            <th><a href="/course/{{ course.course_id }}/update">Update</a> | <a href="/course/{{ course.course_id }}/delete">Delete</a></th>
            
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="/course/create">+ Add Course</a>
</body>
</html>