<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Student list</h1>
    {% if student_data|length == 0 %}
        <p>No Students Found. Add new Students now!</p>
    {% else %}
        <table id="'all-students">
            <tr>
                <th>SNo</th>
                <th>Roll Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Actions</th>
            </tr>
            {% set sno = 1 %}
            {% for student in student_data %}
                {% student_id = student['student_id']%}
                <tr>
                    <td>{{ sno }}</td>
                    <td><a href="/student/<int:student_id>">{{ student['roll_number'] }}</a></td>
                    <td>{{ student['first_name'] }}</td>
                    <td>{{ student['last_name'] }}</td>
                    <td>
                        <a href="/student/<int:student_id>/update" type="button">Update</a>                        
                        <a href="/student/<int:student_id>/delete" type="button">Delete</a>
                    </td>
                </tr>
                {% sno = sno + 1 %}
            {% endfor %}
        </table>
    {% endif %}
    <a href="/student/create">Create Student</a>
</body>
</html>